.top{
  background-color: blue;
  height: 25em;
  border-radius: 20px;
}

.right{
  flex: auto;
  float: right;
  padding-right: 2%;
  

}

.left{
  display: inline;
}

ul{
  list-style-type: none;
}

.right > ul{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
} 

.search{
  color: orange;
}
img{
  padding-top: 10px;
}